.log_container {
    display: flex;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 155px;
}

.left-section {
    padding: 40px;
    background-color: #f0f4f8;
    flex: 1;
    text-align: center;
}

.left-section h1 {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.left-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.left-section p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.left-section img {
    max-width: 100%;
    height: auto;
}

.right-section {
    padding: 40px;
    flex: 1;
}

#form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.right-section form [type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

.remember-me {
    display: flex;
    align-items:center;
    height: 30px;
    margin-bottom: 10px;
}

.remember-me label {
    font-size: 17px;
}

.remember-me input {
    margin-right: 10px;
    font-size: 17px;
}

#logbtn {
    padding: 8px;
    background-color: black;
    color: #fff;
    font-size: 18px;
    font-weight: 550;
    border: none;
    border-radius: 7px;
    transition: all 0.3s ease;
    letter-spacing: 1px;
}

#logbtn:hover {
    scale: 0.95;
}


.login_link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
}

.login_link:hover {
    text-decoration: underline;
}

.nav-link {
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

.login-signup {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;

}

.login-signup:hover {
    color: #00abc9;
}