/* Base styles */
.home1 {
    width: 100vw    ;
    display: flex;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
}

.home1_left {
    display: flex;
    flex-direction: column;
}

.home1_left img,
.home1_right img {
    max-width: 100%;
    height: auto;
}


/* Responsive styles */
@media (max-width: 1200px) {
    .home1_left img,
    .home1_right img {
        width: 90%; /* Reduce image size slightly */
        height: auto;
    }

}

@media (max-width: 992px) {
    .home1_left img,
    .home1_right img {
        width: 100%; /* Further reduce image size */
        height: auto;
    }

    .home1_left img:first-child {
        margin-bottom: 10px; /* Adjust space between Homeimg1 and Homebtn1 */
    }
}

@media (max-width: 768px) {

    .home1_left img:first-child {
        margin-bottom: 5px; /* Adjust space between Homeimg1 and Homebtn1 */
    }
}

@media (max-width: 576px) {
    .home1_left img,
    .home1_right img {
        width: 100%; /* Reduce image size for mobile */
        height: auto;
    }

    .home1_left img:first-child {
        margin-bottom: 5px; /* Adjust space between Homeimg1 and Homebtn1 */
    }

    .btnimg {
        width: 200px !important;
        height: 40;
    }
}