.Normal_text {font-family:Times New Roman;font-weight:normal;font-style:normal;font-size:16px;text-decoration:none;text-transform: none;color:#333333;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-family:Sans Serif Collection;font-weight:normal;font-style:normal;font-size:40px;text-decoration:none;text-transform: none;color:#333333;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_3 {font-size:24px;}
.Heading_2 {font-size:32px;}
.TITLE {font-size:48px;color:#EE4C7C;}
.Heading_4 {font-weight:bold;}
.Big_text {font-family:'Montserrat';font-weight:normal;font-style:normal;font-size:40px;text-decoration:none;text-transform: none;color:#EE4C7C;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Button {font-family:'xr12_Montserrat Bold';font-weight:bold;font-style:normal;font-size:15px;text-decoration:none;text-transform: none;color:#FFFFFF;-webkit-text-stroke: 0px black;letter-spacing:0em;}
